<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cebucityguide.capstoneproject">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <service android:name="cebucityguide.capstoneproject.classes.SpeechService" />
        <activity android:name="cebucityguide.capstoneproject.classes.SpeechHelper" />
        <activity android:name="cebucityguide.capstoneproject.HomeActivity" />
        <activity
            android:name="cebucityguide.capstoneproject.SplashScreen"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cebucityguide.capstoneproject.SplashScreen_OnBoarding"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

        <activity android:name="cebucityguide.capstoneproject.SpeechActivity" />
        <activity android:name="cebucityguide.capstoneproject.SpeechActivity_Text" />

        <activity android:name="cebucityguide.capstoneproject.ActivitiesActivity" />
        <activity
            android:name="cebucityguide.capstoneproject.ActivitiesActivity_Main"
            android:label="Activities"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="cebucityguide.capstoneproject.ActivitiesActivity_ListActivity"
            android:parentActivityName="cebucityguide.capstoneproject.ActivitiesActivity_Main" />
        <activity android:name="cebucityguide.capstoneproject.ActivitiesActivity_PagerActivity" />

        <activity android:name="cebucityguide.capstoneproject.DictionaryActivity" android:label="@string/title_activity_dictionary"/>
        <activity android:name="cebucityguide.capstoneproject.DictionaryActivity_Main" android:label="Main Dictionary Activity"/>
        <activity android:name="cebucityguide.capstoneproject.ElectronicRouteActivity" />

        <activity android:name="cebucityguide.capstoneproject.DiscoveryActivity" />
        <activity android:name="cebucityguide.capstoneproject.DiscoveryActivity_Cafe" />
        <activity android:name="cebucityguide.capstoneproject.DiscoveryActivity_Catacombs" />
        <activity android:name="cebucityguide.capstoneproject.DiscoveryActivity_FamAttr" />
        <activity android:name="cebucityguide.capstoneproject.DiscoveryActivity_Hotels" />
        <activity android:name="cebucityguide.capstoneproject.DiscoveryActivity_Museum" />
        <activity android:name="cebucityguide.capstoneproject.DiscoveryActivity_Music" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>